node_modules
dist
.git
.github
.vscode
.env
.env.*
*.log
npm-debug.log*
coverage
.nyc_output
*.test.ts
*.int.test.ts
*.spec.ts
vitest.config.ts
vitest.integration.config.ts
tsconfig.json
tsconfig.eslint.json
.eslintrc.json
.prettierrc
README.md
docs
.DS_Store
Thumbs.db

